body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.maDiv{
    width: 350px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
   
}
p{
    font-size: 20px;
}
#ceo{
    color: blue;
    font-size: 22px;
}